[Desktop Entry]
X-SuSE-translate=true
Encoding=UTF-8
Name=OpenSUSE Update
GenericName=OpenSUSE Update
Comment=OpenSUSE Update
Exec=konsole -e "sudo /usr/bin/opensuse-update"
Terminal=true
Icon=update-manager
Type=Application
Categories=System;Security;GTK;
