[Desktop Entry]
Encoding=UTF-8
Name=Draw.IO
GenericName=Draw IO
Comment=Diagram Editor
Exec=xterm -bg black -fg white -geometry "100x30" -e "ansible-playbook -i 'localhost,' ~/Playbooks/DrawIO.yml"
Icon=electron
Terminal=false
StartupNotify=true
Type=Application
Categories=GNOME;GTK;Utility;X-SuSE-DesktopUtility;
