[Desktop Entry]
Categories=Network;WebBrowser;GTK;
Encoding=UTF-8
Name=My Firefox
GenericName=Web Browse
Comment=Web Browser
Exec=xterm -bg black -fg white -geometry "100x30" -e "ansible-playbook -i 'localhost,' ~/Playbooks/Firefox.yml"
Icon=system-software-install
Terminal=false
StartupNotify=true
Type=Application
