[Desktop Entry]
Categories=Network;WebBrowser;GTK;
Encoding=UTF-8
Name=My Firefox
GenericName=Web Browse
Comment=Web Browser
Exec=konsole -e "ansible-playbook -i 'localhost,' /etc/ansible/firefox.yml; sleep 3"
Icon=web-browser
Terminal=true
StartupNotify=true
Type=Application
