#!/bin/bash

{% if ansible_distribution == 'openSUSE Tumbleweed' %}
  {% set cmd_update = cmd_update_tumbleweed %}
{% else %}
  {% set cmd_update = cmd_update_leap %}
{% endif %}

{{ cmd_update }}

read -t 3 -p "Finished"
exit

